* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F4F9FF;
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper .title {
    line-height: 90px;
    background: #008C45;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

.wrapper form .row button {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #008C45;
    box-shadow: inset 0px 0px 2px 2px rgba(21, 104, 4, 0.25);
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #FFF;
    font-size: 18px;
    background: #008C45;
    border: 1px solid #008C45;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -3px 0 20px 0;
}

.wrapper form .pass a {
    color: #008C45;
    text-decoration: none;
    font-size: 17px;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button button {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: #008C45;
    border: 1px solid #008C45;
    cursor: pointer;
}

.wrapper form .register {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .register a {
    color: #008C45;
    text-decoration: none;
}

form .register a:hover {
    text-decoration: underline;
    cursor: pointer;
}

form .button button:hover {
    background: #83eeb9;
}

.log-in-form{
    padding-top: 15em;
    padding-right: 27%;
    padding-left: 27%;
    transition: 0.5s;
    font-weight: bold;
  }

  .sign-up-form{
    padding-top: 8em;
    padding-right: 27%;
    padding-left: 27%;
    transition: 0.5s;
    font-weight: bold;
  }

  body{
    background-image: url('https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=2000');
  }




@media (max-width: 1000px) {
    .log-in-form{
        padding-top: 14em;
        padding-right: 8%;
        padding-left: 8%;
        transition: 0.5s;
    }
    .sign-up-form{
        padding-top: 8em;
        padding-right: 8%;
        padding-left: 8%;
        transition: 0.5s;
    }
}