<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"/>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"/>
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/navbar.css">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
            {% for category, message in messages%}
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role=alert>
                {{ message }}
                <button type="button" class="close" data-dismiss=alert>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role=alert>
                {{ message }}
                <button type="button" class="close" data-dismiss=alert>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

    </head>
    <body>
        <nav style="z-index: 1; position: fixed;">
            <div class="logo"><img  src="../static/resources/logo.png" href="/home" width="40" height="40" class="d-inline-block align-top" alt="">
                <text class="navbar-brand" href="/">Project</text></div>
            <div class="navbar">
                <ul class="nav-menu">
                    {% if user.is_authenticated %}
                        {% if current_user.admin == 1%}
                            <li class="nav-item"><a href="/auth/admin" class="nav-link">Admin Panel</a></li>
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/auth/login" class="nav-link">Log in</a></li>
                {% endif %}
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    <form method="POST" class="sign-up-form">
        <h3 align="center">Sign Up</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"/>
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"/>
        </div>
        <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>

    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}">
    </script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    </body>
</html>